{{ partial "header.html" . }}

<header>
  <div class="head-logo">
    <div class="title-background">
      <h1>{{ .Site.Title }}</h1>
      <aside>{{ .Site.Params.description }}</aside>
      <address>
        <a href="//twitter.com/{{ .Site.Author.twitter }}"><i class="fa fa-twitter"></i></a>
        <a href="//github.com/{{ .Site.Author.github }}"><i class="fa fa-github-alt"></i></a>
        <a href="//ato.hatenablog.com/"><i class="fa fa-pencil"></i></a>
        <a href="mailto:{{ .Site.Author.mail }}"><i class="fa fa-envelope-o"></i></a>
        <a href="/index.xml"><i class="fa fa-rss"></i></a>
      </address>
    </div>
  </div>
</header>

<main>

  <section class="preview-line artifacts">
    <header>
      <h2><i class="fa fa-check-square"></i> 作ったもの</h2>
    </header>
    {{ range where .Data.Pages "Section" "artifact" }}
    <article style="background-image: url({{ .Params.thumbnail }})">
      <a href="{{ .Permalink }}">
        <h3><small>{{ .Date.Format "2006/1/2" }}</small> {{ .Title }}</h3>
      </a>
    </article>
    {{ end }}
  </section>

  <section class="preview-line memo">
    <header>
      <h2><i class="fa fa-list-alt"></i> メモ</h2>
    </header>
    {{ range where .Data.Pages "Section" "memo" }}
    <article style="background-image: url({{ .Params.thumbnail }})">
      <a href="{{ .Permalink }}">
        <h3><small>{{ .Date.Format "2006/1/2" }}</small> {{ .Title }}</h3>
      </a>
    </article>
    {{ end }}
  </section>

</main>

{{ partial "footer.html" . }}
