html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/images/fabric_of_squares_gray.png");
  background-repeat: repeat;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.75;
}
